.padre{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    
    z-index: 1000;
    display: flex;

    background: linear-gradient(to top,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.itspm.edu.ec/recursos/fachada.jpg');
    background: -webkit-linear-gradient(to top,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.itspm.edu.ec/recursos/fachada.jpg');
    background: -moz-linear-gradient(to top,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.itspm.edu.ec/recursos/fachada.jpg');
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
  
}

.hijo{
margin: auto;
width: 400px;
height: 300px;
box-shadow: 2px 2px 2px black;
background:rgba(255,255,255,0.7);
}